
@page "/IDE/welcome"
@using Roblox
@model Roblox.Website.Pages.StartPage
@{
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>

<title>Start Page</title>
<script type="text/javascript" src="https://www.silrev.biz//js/jquery-1.11.1.min.js"></script>
<script type="text/javascript">window.jQuery || document.write("<script type='text/javascript' src='/js/jquery/jquery-1.11.1.js'><\/script>")</script>
<script type="text/javascript" src="https://www.silrev.biz//js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript">window.jQuery || document.write("<script type='text/javascript' src='/js/jquery/jquery-migrate-1.2.1.js'><\/script>")</script>
<script type="text/javascript" src="https://www.silrev.biz//js/MicrosoftAjax.js"></script>
<script type="text/javascript">window.Sys || document.write("<script type='text/javascript' src='/js/Microsoft/MicrosoftAjax.js'><\/script>")</script>


<link rel="stylesheet" href="https://web.archive.org/web/20160130215941cs_/https://www.roblox.com/css/page___84deea7c1aac998e40cf3195b2015cae_m.css/fetch"/>

    <script type="text/javascript">
if (typeof(Roblox) === "undefined") { Roblox = {}; }
Roblox.Endpoints = Roblox.Endpoints || {};
Roblox.Endpoints.Urls = Roblox.Endpoints.Urls || {};
Roblox.Endpoints.Urls['/asset/'] = 'https://assetgame.silrev.biz/asset/';
Roblox.Endpoints.Urls['/client-status/set'] = 'https://www.silrev.biz/client-status/set';
Roblox.Endpoints.Urls['/client-status'] = 'https://www.silrev.biz/client-status';
Roblox.Endpoints.Urls['/game/'] = 'https://assetgame.silrev.biz/game/';
Roblox.Endpoints.Urls['/game/edit.ashx'] = 'https://assetgame.silrev.biz/game/edit.ashx';
Roblox.Endpoints.Urls['/game/getauthticket'] = 'https://assetgame.silrev.biz/game/getauthticket';
Roblox.Endpoints.Urls['/game/placelauncher.ashx'] = 'https://assetgame.silrev.biz/game/placelauncher.ashx';
Roblox.Endpoints.Urls['/game/report-stats'] = 'https://assetgame.silrev.biz/game/report-stats';
Roblox.Endpoints.Urls['/game/report-event'] = 'https://assetgame.silrev.biz/game/report-event';
Roblox.Endpoints.Urls['/chat/chat'] = 'https://misc.silrev.biz/chat/chat';
Roblox.Endpoints.Urls['/presence/users'] = 'https://www.silrev.biz/presence/users';
Roblox.Endpoints.Urls['/presence/user'] = 'https://www.silrev.biz/presence/user';
Roblox.Endpoints.Urls['/friends/list'] = 'https://www.silrev.biz/friends/list';
Roblox.Endpoints.Urls['/navigation/getCount'] = 'https://www.silrev.biz/navigation/getCount';
Roblox.Endpoints.Urls['/catalog/browse.aspx'] = 'https://www.silrev.biz/catalog/browse.aspx';
Roblox.Endpoints.Urls['/catalog/html'] = 'https://search.silrev.biz/catalog/html';
Roblox.Endpoints.Urls['/catalog/json'] = 'https://search.silrev.biz/catalog/json';
Roblox.Endpoints.Urls['/catalog/contents'] = 'https://search.silrev.biz/catalog/contents';
Roblox.Endpoints.Urls['/catalog/lists.aspx'] = 'https://search.silrev.biz/catalog/lists.aspx';
Roblox.Endpoints.Urls['/asset-hash-thumbnail/image'] = 'https://assetgame.silrev.biz/asset-hash-thumbnail/image';
Roblox.Endpoints.Urls['/asset-hash-thumbnail/json'] = 'https://assetgame.silrev.biz/asset-hash-thumbnail/json';
Roblox.Endpoints.Urls['/asset-thumbnail-3d/json'] = 'https://assetgame.silrev.biz/asset-thumbnail-3d/json';
Roblox.Endpoints.Urls['/asset-thumbnail/image'] = 'https://assetgame.silrev.biz/asset-thumbnail/image';
Roblox.Endpoints.Urls['/asset-thumbnail/json'] = 'https://assetgame.silrev.biz/asset-thumbnail/json';
Roblox.Endpoints.Urls['/asset-thumbnail/url'] = 'https://assetgame.silrev.biz/asset-thumbnail/url';
Roblox.Endpoints.Urls['/asset/request-thumbnail-fix'] = 'https://assetgame.silrev.biz/asset/request-thumbnail-fix';
Roblox.Endpoints.Urls['/avatar-thumbnail-3d/json'] = 'https://www.silrev.biz/avatar-thumbnail-3d/json';
Roblox.Endpoints.Urls['/avatar-thumbnail/image'] = 'https://www.silrev.biz/avatar-thumbnail/image';
Roblox.Endpoints.Urls['/avatar-thumbnail/json'] = 'https://www.silrev.biz/avatar-thumbnail/json';
Roblox.Endpoints.Urls['/avatar-thumbnails'] = 'https://www.silrev.biz/avatar-thumbnails';
Roblox.Endpoints.Urls['/avatar/request-thumbnail-fix'] = 'https://www.silrev.biz/avatar/request-thumbnail-fix';
Roblox.Endpoints.Urls['/bust-thumbnail/json'] = 'https://www.silrev.biz/bust-thumbnail/json';
Roblox.Endpoints.Urls['/group-thumbnails'] = 'https://www.silrev.biz/group-thumbnails';
Roblox.Endpoints.Urls['/groups/getprimarygroupinfo.ashx'] = 'https://www.silrev.biz/groups/getprimarygroupinfo.ashx';
Roblox.Endpoints.Urls['/headshot-thumbnail/json'] = 'https://www.silrev.biz/headshot-thumbnail/json';
Roblox.Endpoints.Urls['/item-thumbnails'] = 'https://www.silrev.biz/item-thumbnails';
Roblox.Endpoints.Urls['/outfit-thumbnail/json'] = 'https://www.silrev.biz/outfit-thumbnail/json';
Roblox.Endpoints.Urls['/place-thumbnails'] = 'https://www.silrev.biz/place-thumbnails';
Roblox.Endpoints.Urls['/thumbnail/asset/'] = 'https://www.silrev.biz/thumbnail/asset/';
Roblox.Endpoints.Urls['/thumbnail/avatar-headshot'] = 'https://www.silrev.biz/thumbnail/avatar-headshot';
Roblox.Endpoints.Urls['/thumbnail/avatar-headshots'] = 'https://www.silrev.biz/thumbnail/avatar-headshots';
Roblox.Endpoints.Urls['/thumbnail/user-avatar'] = 'https://www.silrev.biz/thumbnail/user-avatar';
Roblox.Endpoints.Urls['/thumbnail/resolve-hash'] = 'https://www.silrev.biz/thumbnail/resolve-hash';
Roblox.Endpoints.Urls['/thumbnail/place'] = 'https://www.silrev.biz/thumbnail/place';
Roblox.Endpoints.Urls['/thumbnail/get-asset-media'] = 'https://www.silrev.biz/thumbnail/get-asset-media';
Roblox.Endpoints.Urls['/thumbnail/remove-asset-media'] = 'https://www.silrev.biz/thumbnail/remove-asset-media';
Roblox.Endpoints.Urls['/thumbnail/set-asset-media-sort-order'] = 'https://www.silrev.biz/thumbnail/set-asset-media-sort-order';
Roblox.Endpoints.Urls['/thumbnail/place-thumbnails'] = 'https://www.silrev.biz/thumbnail/place-thumbnails';
Roblox.Endpoints.Urls['/thumbnail/place-thumbnails-partial'] = 'https://www.silrev.biz/thumbnail/place-thumbnails-partial';
Roblox.Endpoints.Urls['/thumbnail_holder/g'] = 'https://www.silrev.biz/thumbnail_holder/g';
Roblox.Endpoints.Urls['/users/{id}/profile'] = 'https://www.silrev.biz/users/{id}/profile';
Roblox.Endpoints.addCrossDomainOptionsToAllRequests = true;
</script>

    <script type="text/javascript">
if (typeof(Roblox) === "undefined") { Roblox = {}; }
Roblox.Endpoints = Roblox.Endpoints || {};
Roblox.Endpoints.Urls = Roblox.Endpoints.Urls || {};
</script>

        <script type="text/javascript">

        var _gaq = _gaq || [];


		_gaq.push(['_setAccount', 'UA-43420590-3']);
		_gaq.push(['_setDomainName', 'silrev.biz']);
       (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://web.archive.org/web/20160130215941/https://ssl' : 'https://web.archive.org/web/20160130215941/https://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>

    <script type="text/javascript" src="https://www.silrev.biz//js/6dd4c8114f878a46b040148dea516a02.js"></script>

    <script type="text/javascript">Roblox.config.externalResources = [];Roblox.config.paths['Pages.Catalog'] = 'https://www.silrev.biz//js/962d5b2c17eda7dc135bb442c25afff9.js';Roblox.config.paths['Pages.Messages'] = 'https://www.silrev.biz//js/e8cbac58ab4f0d8d4c707700c9f97630.js';Roblox.config.paths['Resources.Messages'] = 'https://www.silrev.biz//js/fb9cb43a34372a004b06425a1c69c9c4.js';Roblox.config.paths['Widgets.AvatarImage'] = 'https://www.silrev.biz//js/bbaeb48f3312bad4626e00c90746ffc0.js';Roblox.config.paths['Widgets.DropdownMenu'] = 'https://www.silrev.biz//js/7b436bae917789c0b84f40fdebd25d97.js';Roblox.config.paths['Widgets.GroupImage'] = 'https://www.silrev.biz//js/33d82b98045d49ec5a1f635d14cc7010.js';Roblox.config.paths['Widgets.HierarchicalDropdown'] = 'https://www.silrev.biz//js/3368571372da9b2e1713bb54ca42a65a.js';Roblox.config.paths['Widgets.ItemImage'] = 'https://www.silrev.biz//js/8babd891cf420dfe3999b3824a0154cb.js';Roblox.config.paths['Widgets.PlaceImage'] = 'https://www.silrev.biz//js/f2697119678d0851cfaa6c2270a727ed.js';Roblox.config.paths['Widgets.SurveyModal'] = 'https://www.silrev.biz//js/d6e979598c460090eafb6d38231159f6.js';</script>
        <script type="text/javascript">
            function editTemplateInStudio(play_placeId) { RobloxLaunch._GoogleAnalyticsCallback = function() { var isInsideRobloxIDE = 'website'; if (Roblox && Roblox.Client && Roblox.Client.isIDE && Roblox.Client.isIDE()) { isInsideRobloxIDE = 'Studio'; };GoogleAnalyticsEvents.FireEvent(['Plugin Location', 'Launch Attempt', isInsideRobloxIDE]);GoogleAnalyticsEvents.FireEvent(['Plugin', 'Launch Attempt', 'Edit']);EventTracker.fireEvent('GameLaunchAttempt_Win32', 'GameLaunchAttempt_Win32_Plugin'); if (typeof Roblox.GamePlayEvents != 'undefined') { Roblox.GamePlayEvents.SendClientStartAttempt(null, play_placeId); }  };  Roblox.Client.WaitForRoblox(function() { RobloxLaunch.StartGame('https://assetgame.silrev.biz/Game/edit.ashx?PlaceID='+play_placeId+'&upload=', 'edit.ashx', 'https://www.silrev.biz/Login/Negotiate.ashx', 'FETCH', true); }); }
        </script>
</head>
    <div class="header">
            <div id="header-login-wrapper" class="iframe-login-signup" data-display-opened="">
                <a href="https://www.silrev.biz/" target="_blank" class="btn-control btn-control-large translate" id="header-signup"><span>Sign Up</span></a>
                <span id="header-or">or</span>
                <span class="studioiFrameLogin">
                    <span id="login-span">
                        <a id="header-login" class="btn-control btn-control-large">Login <span class="grey-arrow">▼</span></a>
                    </span>

                    <div id="iFrameLogin" class="studioiFrameLogin" style="display: none">
                        <iframe id="iframe-login" class="login-frame" src="https://web.archive.org/web/20160130215941if_/https://www.roblox.com/Login/iFrameLogin.aspx?loginRedirect=True&amp;parentUrl=http%3a%2f%2fwww.roblox.com%2fide%2fwelcome" scrolling="no" frameborder="0"></iframe>
                    </div>
                </span>
            </div>
        <!-- This is only after the login stuff because IE7 demands floated elements be before non-floated -->
        <img src="https://web.archive.org/web/20160130215941im_/https://images.rbxcdn.com/63c8081b4b083e1b75685aef06cdfa77.png" alt="Roblox Studio Title"/>
        <p id="HomeLink">
            <a class="text-link" href="https://www.silrev.biz/develop">Switch to Classic View</a>
        </p>
    </div>
    <div class="container">
        <div class="navbar">
            <ul class="navlist">
                <li id="NewProject"><p>New Project</p></li>
                <li id="GamesToggle"><p>Games</p></li>
                    <li id="MyProjects"><p>My Projects</p></li>
                                <!--li class="lastnav"><p>Recent News</p></li-->
            </ul>

        </div>
        <div class="main">
            <div id="TemplatesView" class="welcome-content-area">

<h2 id="StudioGameTemplates">GAME TEMPLATES</h2>
            <div class="templatetypes">
                <ul class="templatetypes">
                        <li data-templatetype="Basic"><a href="#Basic">Basic</a></li>
                        <li data-templatetype="Theme"><a href="#Theme">Theme</a></li>
                        <li data-templatetype="Gameplay"><a href="#Gameplay">Gameplay</a></li>
                </ul>
                <!--div class="tool-tip">
                    <img alt="Recommended for users new to ROBLOX studio" src="/images/IDE/img-tail-top.png" class="top" />
                    <p>Recommended for users new to ROBLOX studio</p>
                    <a class="closeButton"></a>
                </div -->
            </div>

                <div class="templates" data-templatetype="Basic">
                        <div class="template" placeid="95206881">
                            <a href="" class="game-image"><img class="" src="https://web.archive.org/web/20160130215941im_/https://t6.rbxcdn.com/17507896d5a29371ea8048fbdc3b1d74"/></a>
                            <p>Baseplate</p>
                        </div>
                        <div class="template" placeid="95206192">
                            <a href="" class="game-image"><img class="" src="https://web.archive.org/web/20160130215941im_/https://t0.rbxcdn.com/84782e12ef917af4c3b6c67385a0294a"/></a>
                            <p>Flat Terrain</p>
                        </div>
                </div>
                <div class="templates" data-templatetype="Theme">
                        <div class="template" placeid="203783329">
                            <a href="" class="game-image"><img class="" src="https://web.archive.org/web/20160130215941im_/https://t0.rbxcdn.com/e4864dd5b7e4824f346ea872ffd350eb"/></a>
                            <p>City</p>
                        </div>
                        <div class="template" placeid="203810088">
                            <a href="" class="game-image"><img class="" src="https://web.archive.org/web/20160130215941im_/https://t5.rbxcdn.com/1c6158e9e1b9d8cbc097c9f034a27934"/></a>
                            <p>Medieval</p>
                        </div>
                        <div class="template" placeid="264719325">
                            <a href="" class="game-image"><img class="" src="https://web.archive.org/web/20160130215941im_/https://t5.rbxcdn.com/0bb4461b2a053bbb4fc37675d6e91dc1"/></a>
                            <p>Pirate Island</p>
                        </div>
                </div>
                <div class="templates" data-templatetype="Gameplay">
                        <div class="template" placeid="203812057">
                            <a href="" class="game-image"><img class="" src="https://web.archive.org/web/20160130215941im_/https://t1.rbxcdn.com/75af252c9f36755d98db3296e7e08750"/></a>
                            <p>Obby</p>
                        </div>
                        <div class="template" placeid="215383192">
                            <a href="" class="game-image"><img class="" src="https://web.archive.org/web/20160130215941im_/https://t1.rbxcdn.com/3608253a087bddcdc234cca8060a4624"/></a>
                            <p>Racing</p>
                        </div>
                        <div class="template" placeid="203885589">
                            <a href="" class="game-image"><img class="" src="https://web.archive.org/web/20160130215941im_/https://t6.rbxcdn.com/455d0f9e82e94c171181c2412c219376"/></a>
                            <p>Shooter</p>
                        </div>
                        <div class="template" placeid="264715997">
                            <a href="" class="game-image"><img class="" src="https://web.archive.org/web/20160130215941im_/https://t2.rbxcdn.com/245ad7724f4f1a688efac0dea30086fe"/></a>
                            <p>Infinite Runner</p>
                        </div>
                        <div class="template" placeid="92721754">
                            <a href="" class="game-image"><img class="" src="https://web.archive.org/web/20160130215941im_/https://t6.rbxcdn.com/cc6dd833e23a1ea730eda2476b40cbe6"/></a>
                            <p>Capture The Flag</p>
                        </div>
                        <div class="template" placeid="301529772">
                            <a href="" class="game-image"><img class="" src="https://web.archive.org/web/20160130215941im_/https://t1.rbxcdn.com/f2169bb0b3db528714b32dc785e6456d"/></a>
                            <p>Team/FFA Arena</p>
                        </div>
                        <div class="template" placeid="301530843">
                            <a href="" class="game-image"><img class="" src="https://web.archive.org/web/20160130215941im_/https://t3.rbxcdn.com/3c5e97a9e7e25de299ac713e6d429c6c"/></a>
                            <p>Line Runner</p>
                        </div>
                </div>

            </div>
            <div id="MyProjectsView" class="welcome-content-area" style="display: none">
                <div>
                        <h2>My Places</h2>
                    <div id="assetList" class="tab-active">


    <div>
        <span>You must be logged in to view your published projects!</span>
    </div>
    <script type="text/javascript">
        $('#MyProjects').click(function() {
            $('#header-login').addClass('active');
            $('#iFrameLogin').css('display', 'block');
        });
    </script>

                    </div>
                </div>
            </div>
            <div id="GamesView" class="welcome-content-area" style="display: none">
                <div>
                        <h2>My Games</h2>
                    <div id="universeList" class="tab-active">


    <div>
        <span>You must be logged in to view your published projects!</span>
    </div>
    <script type="text/javascript">
        $('#MyProjects').click(function () {
            $('#header-login').addClass('active');
            $('#iFrameLogin').css('display', 'block');
        });
    </script>

                    </div>
                </div>
            </div>

            <div id="ButtonRow" class="divider-top divider-left divider-bottom">
                <a class="btn-medium btn-primary" id="EditButton">Edit</a>
                <a class="btn-medium btn-primary" id="BuildButton">Build</a>
                <a class="btn-medium btn-negative" id="CollapseButton">Cancel</a>
            </div>
        </div>
    </div>

    <div class="GenericModal modalPopup unifiedModal smallModal" style="display:none;">
        <div class="Title"></div>
        <div class="GenericModalBody">
            <div>
                <div class="ImageContainer">
                    <img class="GenericModalImage" alt="generic image"/>
                </div>
                <div class="Message"></div>
            </div>
            <div class="clear"></div>
            <div id="GenericModalButtonContainer" class="GenericModalButtonContainer">
                <a class="ImageButton btn-neutral btn-large roblox-ok">OK</a>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            if (typeof Roblox.IDEWelcome === "undefined")
                Roblox.IDEWelcome = {};

            Roblox.IDEWelcome.Resources = {
                //<sl:translate>
                openProject: "Open Project",
                openProjectText: "To open your project, open to this page in ",
                robloxStudio: "ROBLOX Studio",
                editPlace: "Edit Place",
                toEdit: "To edit ",
                openPage: ", open to this page in ",
                buildPlace: "Build Place",
                toBuild: "To build on ",
                placeInactive: "Place Inactive",
                activate: ", activate this place by going to File->My Published Projects.",
                emailVerifiedTitle: "Verify Your Email",
                emailVerifiedMessage: "You must verify your email before you can work on your place. You can verify your email on the <a href='https://www.silrev.biz/my/account?confirmemail=1'>Account</a> page.",
                verify: "Verify",
                OK: "OK"
                //</sl:translate>
            };
        });
    </script>


<div class="ConfirmationModal modalPopup unifiedModal smallModal" data-modal-handle="confirmation" style="display:none;">
    <a class="genericmodal-close ImageButton closeBtnCircle_20h"></a>
    <div class="Title"></div>
    <div class="GenericModalBody">
        <div class="TopBody">
            <div class="ImageContainer roblox-item-image" data-image-size="small" data-no-overlays data-no-click>
                <img class="GenericModalImage" alt="generic image"/>
            </div>
            <div class="Message"></div>
        </div>
        <div class="ConfirmationModalButtonContainer GenericModalButtonContainer">
            <a href id="roblox-confirm-btn"><span></span></a>
            <a href id="roblox-decline-btn"><span></span></a>
        </div>
        <div class="ConfirmationModalFooter">

        </div>
    </div>
    <script type="text/javascript">
        Roblox = Roblox || {};
        Roblox.Resources = Roblox.Resources || {};

        //<sl:translate>
        Roblox.Resources.GenericConfirmation = {
            yes: "Yes",
            No: "No",
            Confirm: "Confirm",
            Cancel: "Cancel"
        };
        //</sl:translate>
    </script>
</div>
    <script type="text/javascript">function urchinTracker() {}</script>
</html>