@page "/auth/contact"
@model Roblox.Website.Pages.Contact

@{
    Layout = "Shared/_Layout";
}

@section MetaTags {
    <title>Contact</title>
}

<div class="container mt-4">
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3">
            <h1>Contact</h1>
            <p>Please join the discord server by pressing this <a href="https://www.silrev.biz/auth/discord">link</a></p>
        </div>
    </div>
</div>