@page "/auth/donate"
@model Roblox.Website.Pages.Auth.Donate

@{
    Layout = "Shared/_Layout";
}

@section MetaTags {
    <title>Support Marine - Donate</title>
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
		    <h2>Support Marine</h2>
			<p>As you may know, Marine is a non-profit Pekora rehost, Donating to us will increase our budget and would make us able to pay for the servers each month</p>
            <p class="fw-bold mt-4 mb-3 text-center">Donation Services</p>
            <ul class="list-unstyled">
                <li class="mb-4">
                    <strong class="d-block text-start mb-1">Datalix:</strong>
                    <code class="d-block mx-auto text-break" style="max-width: 100%;">unavailable</code>
                </li>
            </ul>
            <p class="mt-5">
                <strong>Where do your donations go:</strong><br />
                Donations will be used in order to pay for the Marine Servers/VPS. 
                All donated money does not go to us and we make <span class="text-decoration-underline">zero profit</span> from Pekora.
            </p>
        </div>
    </div>
</div>
