@{
    Layout = null;
}
<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <style>
        .btn-custom {
        padding: 0.5rem 1rem;
        font-weight: 600;
        border-radius: 0.375rem;
        transition: background-color 0.2s ease-in-out;
        }

        .btn-discord {
        background-color: #5865f2;
        color: white;
        padding: 0.5rem 1rem;
        font-weight: 600;
        border-radius: 0.375rem;
        border: none;
        }

        .btn-discord:hover {
        background-color: #4752c4;
        color: white;
        }

        .btn-discord:focus, .btn-discord.focus {
        box-shadow: 0 0 0 0.25rem rgba(86, 101, 242, 0.5);
        }
    </style>
    @await RenderSectionAsync("MetaTags", required: false)
</head>
<body class="d-flex flex-column h-100 bg-dark text-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/auth/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/accountlogin">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/tos">Terms of Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/privacy">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/account-deletion">Account Deletion</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="/auth/donate">Donate</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
@if (Model.isAuthenticated)
{
    <nav class="navbar navbar-expand-lg navbar-black navbar-auth bg-black pt-0 pb-0">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Marine Home</a>
                    </li>
                    @{
                        /*
                    <li class="nav-item">
                        <a class="nav-link" href="/internal/age">18+ Verification</a>
                    </li>
                    */
                    }
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/auth/2fa">2FA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/internal/membership">Membership Type</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/internal/tixexchange">Tix Exchange</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/internal/robuxexchange">Robux Exchange</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/internal/collectibles?userId=@Model.userSession.userId">My Collectibles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/internal/create-place">Create a place</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
}
<main class="flex-shrink-0 bg-dark">
    @RenderBody()
</main>
<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
        <p class="text-muted">This website is not affiliated, endorsed, and/or sponsored by any companies, trademarks, or copyrighted names mentioned. No copyright infringement is intended.</p>
        <p class="text-muted mb-0">&copy; @DateTime.UtcNow.Year @Roblox.Configuration.BaseUrl.Replace("https://", "").Replace("http://", "")</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>